# Ignoring all of the data that I have grabbed
*

# Making sure that the python scripts and json files are tracked
!src/
!src/get_eia_data.py
!src/get_regional_gen.py
!output/
!output/series_records.json
!*.gitignore
!README.md
!environment.yml